<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=chrome">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="../scripts/login.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.css" />
  <link rel="stylesheet" href="../styles/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script type="text/javascript" src="../scripts/landing.js"></script>
  <title>Listicle</title>
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img id="imageHeader" , src="../pictures/logo.png" width="40" height="40" class="d-inline-block align-top"
            alt="">
          Listicle
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="loginButton" class="nav-link" href="/login">Login/Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <img id="mainImage" class="img-fluid-header" src="../pictures/HeaderA.gif" />

  <table class="center">
    <tr>
      <td class="padded">
        <h3>Start Making Lists Today!</h3>
        <h5>Welcome to Listicle! Listicle is a website designed to help you keep track of your progress within your books and shows!</h5>
        <h5>Within Listicle you will easily be able to document what chapters you have read and what episodes you have watched.</h5>
      </td>
    </tr>


    <table class='center'>
      <tr>
        <td>
          <img class="img-fluid" src="../pictures/loginGif.gif" />
        </td>
        <td>
          <img class="img-fluid" src="../pictures/searchGif.gif" />
        </td>
        <td>
          <img class="img-fluid" src="../pictures/itemGif.gif" />
        </td>
      </tr>
      <tr>
        <td class="img-fluid-text">
          <h5>Login after you have made an account!</h5>
        </td>
        <td class="img-fluid-text">
          <h5>Add new items to your list or search for some to add!</h5>
        </td>
        <td class="img-fluid-text">
          <h5>Click on items to see the information about them!</h5>
        </td>
      </tr>
    </table>
            
    <br>
    <br>
    <br>
    <br>


    <table class="center">
      <tr>
        <td>
          <h2>Ready To Get Started?</h2>
          <h5>Click the Button Below to Login or Sign Up!</h5>
        </td>
      </tr>
      <tr>
        <td>
          
          <button class="loginButton" id="loginButton">
            &ensp;
            <img src='../pictures/leaf.png' class="leaf">
          &ensp;
            Log In / Sign Up </button>
        </td>
      </tr>
    </table>

    <br>


    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>